table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

.lesson-input {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding: 0;
}

.lesson-input:disabled {
  background-color: #ec7c7c;
  border: none;
}
.lesson-input:not(:disabled) {
  background-color: #8BE5A3;
  color: #1F1D1C;
  border: none;
}


